/* CSS styles for the app with a dark, hacker-themed aesthetic */

body {
  background-color: #000;
  font-family: 'Courier New', Courier, monospace;
  color: #ff0000; /* Blood-red text color */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

container {
  text-align: center;
}

/* Horrible and title styles */

h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 0px 0px 10px #ff0000;
}

button {
  background-color: #b30000;
  border: none;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
}

button:hover {
  background-color: #ff3333;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.8);
}

button:active {
  transform: scale(0.95);
}

	results {
  background-color: #1a1a1a;
  color: #ff0000;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  max-width: 600px;
  width: 100%;
}

.container li {
  background-color: #333;
  margin: 10px 0;
  padding: 10px;
  list-style-type: none;
  border-radius: 5px;
}